{% extends 'base.html.twig' %}

{% block body %}
    <h1>
        Welcome to our website. Log in to view your claims and their status.
        You can also use your account to add a new claim
    </h1>
{% endblock %}
